.hide-user-name {
  display: none;
}

.success-msg {
  background-color: rgb(119, 162, 119);
  height: 5%;
  font-size: 1.1rem;
  padding-block: 0.5rem;
  color: black;
  font-weight: 500;
  text-align: center;
}

.error-msg-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10%;
  width: 100vw;
  background-color: rgb(227, 159, 159);
  height: 5%;
  position: absolute;
  top: -10%;
  animation-name: error;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.show-error {
  color: black;
}

.error-msg-close-btn {
  color: black;
}

@keyframes error {
  0% {
    top: -10%;
  }

  100% {
    top: 9%;
  }
}

.login-page-logo-image-section {
  width: 50%;
  margin-inline: auto;
}

.login-page-logo-image-style {
  display: block;
  width: 40%;
  margin-inline: auto;
  object-fit: contain;
}

.login-container-info {
  width: 25%;
  margin-inline: auto;
  border: 1px solid lightgray;
  padding: 1rem 3rem;

  /* background-color: rgb(208, 203, 203); */
}

.login-page-input-headings {
  font-size: 1.25rem;
}

.login-page-inputs {
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.login-btn-div {
  width: 80%;
  margin-inline: auto;
  margin-block: 2rem;
}

.login-btn-login-page {
  width: 100%;
  text-align: center;
  margin-inline: auto;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.35rem;
}

.login-btn-login-page:hover {
  background-color: #e9b227;
}

.signup-btn-login-page {
  width: 100%;
  text-align: center;
  margin-inline: auto;
  background-color: rgb(218, 213, 213);
  border: 1px solid;
  border-color: rgb(137, 136, 136);
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.35rem;
}

.signup-btn-login-page:hover {
  background-color: rgb(234, 228, 228);
}

.sign-in-heading {
  text-align: center;
  font-size: 1.95rem;
  margin-block: 0.5rem;
}

@media screen and (max-width: 1500px) {
  .login-container-info {
    width: 40%;
  }
}

@media screen and (max-width: 1250px) {
  .login-container-info {
    width: 50%;
  }
}

@media screen and (max-width: 1050px) {
  .login-container-info {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .login-container-info {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .login-container-info {
    width: 95%;
  }

  .error-msg-div {
    padding-inline: 0;
    font-size: 0.9rem;
  }
}
